body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

ul,
li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

p {
    margin: 0;
    padding: 0;
}

.main-bg {
    height: inherit;
    width: 100%;
    background-image: url(../images/home-background-img.png);
    overflow: auto;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

.img1 {
    height: 100%;
    background-image: url(../images/01.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img2 {
    height: 100%;
    background-image: url(../images/02.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img3 {
    height: 100%;
    background-image: url(../images/03.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img4 {
    height: 100%;
    background-image: url(../images/04.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img5 {
    height: 100%;
    background-image: url(../images/05.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img6 {
    height: 100%;
    background-image: url(../images/06.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img7 {
    height: 100%;
    background-image: url(../images/07.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img8 {
    height: 100%;
    background-image: url(../images/08.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img9 {
    height: 100%;
    background-image: url(../images/09.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img10 {
    height: 100%;
    background-image: url(../images/10.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img11 {
    height: 100%;
    background-image: url(../images/11.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img12 {
    height: 100%;
    background-image: url(../images/12.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.clearfix {
    width: 100%;
    padding: 25px 0px 0px 0px;
}

.container {
    width: 85%;
    margin: auto;
    overflow: auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 38px;
}

.first {
    width: 25%;
    float: left;
    padding: 10px;
}

.color {
    color: white;
}

.title {
    font-size: 28px;
    font-weight: 700;
}

.description {
    font-size: 16px;
    line-height: 26px;
}

.divider {
    width: 100%;
    padding: 163px 28% 0px 0px;
}

.divider-container {
    width: 44%;
    margin: auto;
}

.images {
    text-align: center;
    margin: 0px auto 40px auto;
}

p {
    margin: 0;
    padding: 0;
}

.desc {
    width: 100%;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    text-align: center;
}

.name {
    margin-top: 22px;
    color: #ff5562;
    font-size: 16px;
    line-height: 26px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    text-align: center;
}

.arrows {
    width: 25%;
    margin: 20px auto;
}

.arrow-container {
    margin: auto;
    overflow: auto;
}

.arrow {
    width: 50%;
    text-align: center;
    margin: auto;
    float: left;
    padding: 5px;
}

.left {
    width: 50%;
    margin: auto;
    border: 2px solid;
}

.section {
    width: 85%;
    margin: auto;
    font-family: "open sans", sans-serif;
}

.sec-container {
    width: 33.33%;
    float: left;
}

.sec-image {
    margin-bottom: 50px;
}

sec-desc {
    margin-top: 50px;
}

.first-part {
    width: 40%;
    float: left;
    text-align: right;
    padding: 5px;
}

.center {
    text-align: center;
    margin-top: 20px;
}

.second-part {
    float: left;
    padding: 10px;
    width: 60%;
}

.content {
    font-size: 12px;
}

.plan {
    font-weight: bolder;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 25px;
}

.one {
    font-size: 16px;
    line-height: 26px;
    margin: 7px 0px;
}

.price {
    font-weight: 400;
    color: #242424;
    font-size: 77px;
    line-height: 60px;
    text-align: right;
}

.value {
    font-weight: 400;
    font-size: 24px;
    color: #242424;
}

.purchase {
    width: 75%;
    padding: 5px 10px;
    font-size: 13px;
    letter-spacing: 2.5px;
    line-height: 60px;
    margin: 40px 0px;
    text-align: center;
    background-color: #ff5562;
}

.line-container {
    padding: 1px;
    width: 100%;
    background-color: rebeccapurple;
    margin: 10px 0px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: red;
}

.contact {
    width: 75%;
    margin: auto;
}

.contact-us {
    padding: 200px 0px 0 0;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    font-family: "open sans", sans-serif;
    line-height: 55px;
    text-align: center;
}

.form {
    width: 100%;
}

.form-container {
    font-family: Open Sans;
    padding: 63px 17% 100px;
}


.two-box {
    width: 100%;
    overflow: auto;
    background-color: #ffffff;
    margin-bottom: 16px;
}

.box {
    line-height: 33px;
    width: 50%;
    float: left;
    border-color: rgba(255, 85, 98, 0.5);
    border-width: 1px;
    border-style: solid;
}

.contentsss {
    padding: 18px 18px 18px 28px;

    border-color: rgba(255, 85, 98, 0.5);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

.width {
    width: 25%;
    margin: auto;
}

.about-logo {
    width: 85%;
    margin: auto;
    font-family: "open sans", sans-serif;
}

.logo {
    padding-top: 100px;
    text-align: center;
}

.check {
    margin: 67px auto 18px auto;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
}

.service {
    color: black;
    margin-bottom: 65px;
    font-size: 26px;
    line-height: 1.375em;
    font-weight: 400;
    text-align: center;
}
